body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eb9393;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #dd1919;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

h1 {
    font-size: 2.5em;
    color: #dd1919;
}